*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "poppins-italic-reg";
  src: url("./assets/fonts/Poppins-Italic.ttf"), url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-reg";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-italic-extraBold";
  src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: poppins-reg;
}
body {
  display: grid;
  place-items: center;
  align-content: center;
  background-color: hsl(0, 0%, 94%);
}
li {
  list-style-type: none;
}
button {
  width: fit-content;
  height: fit-content;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: clamp(300px, 40svw, 600px);
  background-color: #fff;
  box-shadow: 0 0 80px 5px rgba(0, 0, 0, 0.1);
  padding: 2em;
  border-radius: 1em;
  border-bottom-right-radius: 30%;
  min-width: 430px;

  @media screen and (max-width: 1200px) {
    gap: 2em;
  }
}

main > ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 75%;
  min-width: 360px;
  gap: 1.5em;
  & > li > sub.empty,
  & > li > sub.day,
  & > li > sub.year,
  & > li > sub.month,
  & > li > sub.valid {
    color: hsl(0, 100%, 67%);
    display: none;
    width: 100%;
    font-size: 0.7em;
    padding-top: 1em;
  }

  &.dayError {
    & > li > sub.day {
      display: block;
    }
  }
  &.monthError {
    & > li > sub.month {
      display: block;
    }
  }
  &.yearError {
    & > li > sub.year {
      display: block;
    }
  }

  &.dayEmpty {
    & > li:first-child > sub.empty {
      display: block;
    }
  }
  &.monthEmpty {
    & > li:nth-child(2) > sub.empty {
      display: block;
    }
  }
  &.yearEmpty {
    & > li:last-child > sub.empty {
      display: block;
    }
  }

  &.invalidDate {
    & > li > sub.valid {
      display: block;
    }
  }
}

main > div#buttonSection {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  & > hr {
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  & > button#submitBtn {
    border-radius: 50%;
    border: 0px;
    aspect-ratio: 1 / 1;
    padding: 0.75em;
    transition: background-color 0.2s ease-out;
    background-color: hsl(259, 100%, 65%);
    & > img {
      width: 80%;
    }
    &:hover {
      cursor: pointer;
      background-color: hsl(0, 0%, 8%);
    }
  }
}

main > div#resultCase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: poppins-italic-extraBold;
  font-size: 4em;
  & > p {
    & > span {
      color: hsl(259, 100%, 65%);
      letter-spacing: 0.2ch;
    }
  }
}

input[type="text"] {
  padding: 0.25em 0.75em;
  font-family: poppins-bold;
  font-size: 1.5em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 86%);

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 1px solid hsl(259, 100%, 65%);
  }
}

label {
  font-family: poppins-bold;
  font-size: 0.8em;
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
  line-height: 4ch;
}

@media screen and (max-width: 650px) {
  main {
    border-bottom-right-radius: 7.5em;
    & > ul {
      width: 100%;
      min-width: none;
    }

    & > div#buttonSection {
      position: relative;
      justify-items: center;

      & > button {
        z-index: 1;
      }
      & > hr {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 0;
      }
    }
  }
}
